<div class="col-lg-6" style="margin-top: 10px; margin-bottom: 10px;">
    <div class="custom-media d-flex">
        <div class="img mr-4">
            <img src="assets/images/img_1.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="text">
            <span class="meta">Name:{{player.name}}</span>
            <h3 class="mb-4"><a href="#">Age:{{player.age}}</a></h3>
            <h3 class="mb-4"><a href="#">Position:{{player.position}}</a></h3>
            <h3 class="mb-4"><a href="#">nbre:{{player.nbre}}</a></h3>

        </div>
    </div>
</div>