<div class="col-lg-6" style="margin-top: 10px; margin-bottom: 10px;">
    <div class="custom-media d-flex">
        <!-- <div class="img mr-4">
            <img src="assets/images/img_1.jpg" alt="Image" class="img-fluid">
        </div> -->
        <div class="text">
            <span class="meta">Name:{{team1.name}}</span>
            <h3 class="mb-4"><a href="#">stadium:{{team1.stadium}}</a></h3>
            <h3 class="mb-4"><a href="#">owner:{{team1.owner}}</a></h3>
            <h3 class="mb-4"><a href="#">Foundation:{{team1.foundation}}</a></h3>

        </div>
    </div>
</div>